
<link rel="stylesheet" href="views/myConsignments/myConsignments.css">

<h1>My consignments</h1>

<div layout="column" layout-padding="" layout-wrap="" layout-margin="" ng-cloak="" layout-align="space-around" style="margin: auto">


    <!-- these are proper consignments -->
    <div layout="column" class="post" md-whiteframe="{{ctrl.elevation}}" style="padding-left: 20px;">
        <div style="text-align: center; vertical-align: middle;">
            <h2><b>Consignment</b> number 4CE0460D0G</h2>
        </div>

        <div layout="row">
            <div flex="50">
                <h3>ISO 8000-115</h3>
            </div>
            <div flex="25" style="text-align: center;">
                <h3>Number of items</h3>
            </div>
            <div flex="15">
                <h3>Serial numbers</h3>
            </div>
            <div flex="10" style="text-align: center;">
                <h3>Delete</h3>
            </div>
        </div>

        <div layout="column">
            <div flex="100" layout="row">
                <div flex="50" class="cell">
                    LOVEJOY:SPIDEX-ALU-A19-12H7
                </div>
                <div flex="25"  class="cell" style="text-align: center;">
                    17
                </div>
                <div flex="15" class="centreButton">
                    <md-button class="md-raised">Add S/N</md-button>
                </div>
                <div flex="10" class="cell" style="text-align: center;">
                    <i class="fas fa-trash"></i>
                    <!-- <md-icon md-svg-src="/home/Perforce/Marcin_Marcin_7490/websites/koiosmasterdata_com/v1/images/icons/ic_delete_black_24px.svg"></md-icon> !-->
                </div>
            </div>

            <div flex="100"layout="row">
                <div flex="50" class="cell">
                    LOVEJOY:SPIDEX-ALU-A19-12H7
                </div>
                <div flex="25"  class="cell" style="text-align: center;">
                    17
                </div>
                <div flex="15" class="centreButton">
                    <md-button class="md-raised">Add S/N</md-button>
                </div>
                <div flex="10" class="cell" style="text-align: center;">
                    <i class="fas fa-trash"></i>
                    <!-- <md-icon md-svg-src="/home/Perforce/Marcin_Marcin_7490/websites/koiosmasterdata_com/v1/images/icons/ic_delete_black_24px.svg"></md-icon> !-->
                </div>
            </div>

            <div flex="100"layout="row">
                <div flex="50" class="cell">
                    LOVEJOY:SPIDEX-ALU-A19-12H7
                </div>
                <div flex="25"  class="cell" style="text-align: center;">
                    17
                </div>
                <div flex="15" class="centreButton">
                    <md-button class="md-raised">Add S/N</md-button>
                </div>
                <div flex="10" class="cell" style="text-align: center;">
                    <i class="fas fa-trash"></i>
                    <!-- <md-icon md-svg-src="/home/Perforce/Marcin_Marcin_7490/websites/koiosmasterdata_com/v1/images/icons/ic_delete_black_24px.svg"></md-icon> !-->
                </div>
            </div>
        </div>

        <div layout="row" style="display: flex;padding-top: 20px; float: left;">
            <div flex="80" layout="row" style="float: left">
                <div class="centreButton">
                    <md-button class="md-raised">Generate QR code</md-button>
                </div>
                <div class="centreButton">
                    <md-button class="md-raised">History</md-button>
                </div>
                <div class="centreButton">
                    <md-button class="md-raised">Start shipment</md-button>
                </div>
                <div class="centreButton">
                    <md-button class="md-raised">
                        <i class="fas fa-pen"></i>
                    </md-button>
                </div>
            </div>
            <div flex="20">
                <md-button class="md-raised" style="float:right;">
                    <i class="fas fa-trash"></i>
                </md-button>
            </div>
        </div>
    </div>

    <div layout="column" class="post" md-whiteframe="{{ctrl.elevation}}" style="padding-left: 20px;">
        <div style="text-align: center; vertical-align: middle;">
            <h2><b>Consignment</b> number 4CE0460D0G</h2>
        </div>

        <div layout="row">
            <div flex="50">
                <h3>ISO 8000-115</h3>
            </div>
            <div flex="25" style="text-align: center;">
                <h3>Number of items</h3>
            </div>
            <div flex="15">
                <h3>Serial numbers</h3>
            </div>
            <div flex="10" style="text-align: center;">
                <h3>Delete</h3>
            </div>
        </div>

        <div layout="column">
            <div flex="100" layout="row">
                <div flex="50" class="cell">
                    LOVEJOY:SPIDEX-ALU-A19-12H7
                </div>
                <div flex="25"  class="cell" style="text-align: center;">
                    17
                </div>
                <div flex="15" class="centreButton">
                    <md-button class="md-raised">Add S/N</md-button>
                </div>
                <div flex="10" class="cell" style="text-align: center;">
                    <i class="fas fa-trash"></i>
                    <!-- <md-icon md-svg-src="/home/Perforce/Marcin_Marcin_7490/websites/koiosmasterdata_com/v1/images/icons/ic_delete_black_24px.svg"></md-icon> !-->
                </div>
            </div>

            <div flex="100"layout="row">
                <div flex="50" class="cell">
                    LOVEJOY:SPIDEX-ALU-A19-12H7
                </div>
                <div flex="25"  class="cell" style="text-align: center;">
                    17
                </div>
                <div flex="15" class="centreButton">
                    <md-button class="md-raised">Add S/N</md-button>
                </div>
                <div flex="10" class="cell" style="text-align: center;">
                    <i class="fas fa-trash"></i>
                    <!-- <md-icon md-svg-src="/home/Perforce/Marcin_Marcin_7490/websites/koiosmasterdata_com/v1/images/icons/ic_delete_black_24px.svg"></md-icon> !-->
                </div>
            </div>

            <div flex="100"layout="row">
                <div flex="50" class="cell">
                    LOVEJOY:SPIDEX-ALU-A19-12H7
                </div>
                <div flex="25"  class="cell" style="text-align: center;">
                    17
                </div>
                <div flex="15" class="centreButton">
                    <md-button class="md-raised">Add S/N</md-button>
                </div>
                <div flex="10" class="cell" style="text-align: center;">
                    <i class="fas fa-trash"></i>
                    <!-- <md-icon md-svg-src="/home/Perforce/Marcin_Marcin_7490/websites/koiosmasterdata_com/v1/images/icons/ic_delete_black_24px.svg"></md-icon> !-->
                </div>
            </div>
        </div>

        <div layout="row" style="display: flex;padding-top: 20px; float: left;">
            <div flex="80" layout="row" style="float: left">
                <div class="centreButton">
                    <md-button class="md-raised">Generate QR code</md-button>
                </div>
                <div class="centreButton">
                    <md-button class="md-raised">History</md-button>
                </div>
                <div class="centreButton">
                    <md-button class="md-raised">Start shipment</md-button>
                </div>
                <div class="centreButton">
                    <md-button class="md-raised">
                        <i class="fas fa-pen"></i>
                    </md-button>
                </div>
            </div>
            <div flex="20">
                <md-button class="md-raised" style="float:right;">
                    <i class="fas fa-trash"></i>
                </md-button>
            </div>
        </div>
    </div>
</div>