
<link rel="stylesheet" href="views/myConsignments/myConsignments.css">

<div ng-app="myApp.newConsignment" ng-controller="newConsignmentCtrl">

    <div>
        <h1>My consignments</h1>
    </div>
    <div ng-show="showNoConsignmentsMessage()" class="centreButton" layout="column" style="margin-top: 50px;">
        <h2>You have no consignments saved in "My consignments"</h2>
    </div>


    <div layout="column" layout-padding="" layout-wrap="" layout-margin="" ng-cloak="" layout-align="space-around" style="margin: auto">

        <!-- these are proper consignments -->
        <div ng-repeat="consignment in getConsignments">
            <div layout="column" class="post" md-whiteframe="{{ctrl.elevation}}" style="padding-left: 20px; margin:auto;">
                <div style="text-align: center; vertical-align: middle;">
                    <h2><b>Consignment number {{$index}}</b></h2> <!-- {{consignment.products}} -->
                </div>

                <div flex="100" layout="row">
                    <div flex="5" class="cell">
                        <h3>#</h3>
                    </div>
                    <div flex="35">
                        <h3>ISO 8000-115</h3>
                    </div>
                    <div flex="15" style="text-align: center;">
                        <h3>Quantity</h3>
                    </div>
                    <div flex="15" style="text-align: center;">
                        <h3>Batch no.</h3>
                    </div>
                    <div flex="30" style="text-align: center;">
                        <h3>Serial numbers</h3>
                    </div>
                </div>
                <!-- Consignments from the consignment array -->
                <div layout="column" ng-repeat="product in consignment.products track by $index">
                    <div flex="100"layout="row">
                        <div flex="5" class="cell">
                            {{$index + 1}}
                        </div>
                        <div flex="35" class="cell" >
                            {{product.iso8000Identifier}}
                        </div>
                        <div flex="15"  class="cell" style="text-align: center;">
                            {{product.NoI}}
                        </div>
                        <div flex="15"  class="cell" style="text-align: center;">
                            {{product.batchNumber}}
                        </div>
                        <div flex="30" class="centreButton">
                            <md-button class="md-primary md-raised" ng-click="product.showSerialNumbers = !product.showSerialNumbers"> <!-- ng-click="showHideSerialNumbers()" -->
                                {{product.showSerialNumbers ? 'Close' : 'View'}} S/N
                            </md-button>
                        </div>
                    </div>
                    <div ng-show = product.showSerialNumbers layout="column">
                        <div ng-repeat= "serialNumber in product.serialNumbers track by $index" style="margin-left: 10%; width:70%; padding: 0px 0; margin-bottom: 0px;">
                            #{{$index + 1}}:  {{serialNumber}}
                        </div>
                    </div>

                    <!--<div ng-show = product.showSerialNumbers layout="column">
                        <div ng-repeat= "serialNumber in product.serialNumbers" style="margin-left: 10%; width:70%; padding: 0px 0; margin-bottom: 0px;">
                            {{serialNumber}}
                        </div>
                    </div>-->
                </div>

                <div layout="row" style="display: flex;padding-top: 20px; float: left;">
                    <div flex="80" layout="row" style="float: left">
                        <div class="centreButton">
                            <a download="qr.svg" href="images/qr.svg">
                            <md-button class="md-raised">Generate QR code</md-button>
                            </a>
                        </div>
                        <div class="centreButton">
                            <md-button class="md-raised" style="background-color: grey">History</md-button>
                        </div>
                        <div class="centreButton">
                            <md-button class="md-raised" ng-click="addConsignmentToShipment($index)">Add to the new shipment</md-button>
                        </div>
                        <div class="centreButton">
                            <md-button class="md-raised" ng-click="setEditConsignment($index, 'myConsignments')" ng-href="#!/editConsignment" >
                                <i class="fas fa-pen"></i>
                            </md-button>
                        </div>
                    </div>
                    <div flex="20">
                        <md-button class="md-raised" style="float:right;" ng-click="deleteConsignmentPopUp($event, $index)">
                            <i class="fas fa-trash"></i>
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="centreButton" layout="column">
        <md-button class="md-fab md-primary" ng-href="#!/newConsignment">
            <md-icon md-svg-src="images/baseline-add-24px.svg"></md-icon>
        </md-button>
    </div>
</div>