/* app css stylesheet */
body {
  font-family: 'Roboto', sans-serif;

}

.robotoLight {
  font-weight: lighter !important;
}
.main {
   /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav1 {padding-top: 15px;}
  .sidenav1 a {font-size: 18px;}
}

.post {
  width: 800px;
  height: 200px;
}

.md-sidenav-left{
  width: 590px;
  margin-left: 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.conOpt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post p {
  font-size: small;
}

.md-raised {
  font-size: small;

}

h3 {
  font-size: medium;
}

.cell {
  margin: auto;
}

.centreButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.sideNavLeft {
  height: 100%;
  position: fixed;
  z-index: 2;
}

.container {
  margin-top: 2%;
}

.pageTitle {
    margin-top: 3%;
    margin-left: 5%;
}

.pageBannerCompany {
    margin: 0px;
    margin-bottom: 5%;
    padding: 0px 0;
    background: linear-gradient(to bottom, rgba(62,62,62,0.8),rgba(137,137,137,0.5));
    background-size: 100%;
    background-position-y: center;
    height:200px;
}