<link rel="stylesheet" href="views/changeOfCustody/changeOfCustody.css">

<div ng-app="myApp.changeOfCustody" ng-controller="changeOfCustodyCtrl">
    <div>
        <h1>Declare the change of Custody</h1>
    </div>
    <div layout="column" style="margin: auto; width: 40%">
        <div>
            <md-input-container md-no-float="" class="md-block" style="margin: auto">
                <md-icon md-svg-src="images/baseline-business-24px.svg"></md-icon>
                <input ng-model="alei" placeholder="receiver's ALEI number" type="text">
            </md-input-container>
        </div>
        <div style="text-align: right">
            <md-button class="md-raised" ng-click="addAleiToTemporaryCreatedShipment(); addShipment(); finishShipmentToast()" ng-href="#!/home">Finish</md-button>
        </div>
    </div>
</div>