<link rel="stylesheet" href="views/shipmentHistory/shipmentHistory.css">

<div><h1>Shipment history</h1></div>

<div layout="column">
    <!--blockchain blocks -->
    <div layout="column" layout-padding="" layout-wrap="" layout-margin="" ng-cloak="" layout-align="space-around" style="margin: auto">

        <div layout="column" layout-margin="" class="post" md-whiteframe="{{ctrl.elevation}}" style="padding-left: 20px;">
            <div layout="row">
                <div flex="60">Company ALEI</div>
                <div flex="40">Custody time frame: 05.12.2016 - 23.02.2017</div>
            </div>
            <div layout="row">
                <div class="centreButton">
                    <md-button class="md-raised" flex="" ng-href="#!/companyScans">Scans</md-button>
                </div>
                <div class="centreButton">
                    <md-button class="md-raised" ng-href="#!/employeesInvolved">Employees involved</md-button>
                </div>
                <div class="centreButton">
                    <md-button class="md-raised" style="background-color: grey">Primary location: Fareham</md-button>
                </div>
            </div>
        </div>


    </div>

    <!--consignments within the shipment -->
    <div layout="column" layout-padding="" layout-wrap="" layout-margin="" ng-cloak="" layout-align="space-around" style="margin: auto">


        <!-- these are proper consignments -->
        <div layout="column" class="post" md-whiteframe="{{ctrl.elevation}}" style="padding-left: 20px;">
            <div style="text-align: center; vertical-align: middle;">
                <h2><b>Consignment</b> number 4CE0460D0G</h2>
            </div>

            <div layout="row">
                <div flex="50">
                    <h3>ISO 8000-115</h3>
                </div>
                <div flex="25" style="text-align: center;">
                    <h3>Number of items</h3>
                </div>
                <div flex="25" style="text-align: center;">
                    <h3>Serial numbers</h3>
                </div>
            </div>

            <div layout="column">
                <div flex="100" layout="row">
                    <div flex="50" class="cell">
                        LOVEJOY:SPIDEX-ALU-A19-12H7
                    </div>
                    <div flex="25"  class="cell" style="text-align: center;">
                        17
                    </div>
                    <div flex="25" class="centreButton">
                        <md-button class="md-raised" style="background-color: grey">Serial numbers</md-button>
                    </div>
                </div>
            </div>

            <div layout="row" style="display: flex;padding-top: 20px; float: left;">
                <div flex="100" layout="row" style="float: left">
                    <div class="centreButton">
                        <md-button class="md-raised" ng-href="#!/consignmentScans">Scans</md-button>
                    </div>
                    <div class="centreButton">
                        <md-button class="md-raised" ng-href="#!/map">Visualise the route</md-button>
                    </div>
                    <div class="centreButton">
                        <md-button class="md-raised" style="background-color: grey">Companies involved</md-button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>