<link rel="stylesheet" href="views/newShipment/newShipment.css">

<div ng-app="myApp.newShipment" ng-controller="newShipmentCtrl">
    <div>
        <h1>New shipment</h1>
    </div>


    <div layout="row" layout-padding="" layout-wrap="" layout-margin="" ng-cloak="" layout-align="space-around" style="margin: auto">

        <!-- Consignment divs !-->

        <div class="post" md-whiteframe="{{ctrl.elevation}}" style="padding-left: 20px;" ng-repeat="consignment in consignments">
            <div layout="row">
                <div flex="90"  style="text-align: center; vertical-align: middle;">
                    <h2><b>{{consignment.name}}</b></h2>
                </div>
                <div flex="10" class="cell" style="text-align: center;" ng-click="deleteConsignment($index)">
                    <i class="fas fa-trash"></i>
                    <!-- <md-icon md-svg-src="/home/Perforce/Marcin_Marcin_7490/websites/koiosmasterdata_com/v1/images/icons/ic_delete_black_24px.svg"></md-icon> !-->
                </div>
            </div>

            <div flex="100" layout="row">
                <div flex="50">
                    <h3>ISO 8000-115</h3>
                </div>
                <div flex="25" style="text-align: center;">
                    <h3>Number of items</h3>
                </div>
                <div flex="15">
                    <h3>Serial numbers</h3>
                </div>
                <div flex="10" style="text-align: center;">
                    <h3>Delete</h3>
                </div>
            </div>

            <div flex="100"layout="row">
                <div flex="50" class="cell">
                    LOVEJOY:SPIDEX-ALU-A19-12H7
                </div>
                <div flex="25"  class="cell" style="text-align: center;">
                    17
                </div>
                <div flex="15" class="centreButton">
                    <md-button class="md-raised" style="background-color: grey">Add S/N</md-button>
                </div>
                <div flex="10" class="cell" style="text-align: center;">
                    <i class="fas fa-trash"></i>
                    <!-- <md-icon md-svg-src="/home/Perforce/Marcin_Marcin_7490/websites/koiosmasterdata_com/v1/images/icons/ic_delete_black_24px.svg"></md-icon> !-->
                </div>
            </div>

            <div flex="80" layout="row" style="display: flex;padding-top: 20px; float: left;">
                <div flex="auto">
                    <md-button class="md-raised" style="background-color: grey">Add new product</md-button>
                </div>
                <div flex="auto">
                    <md-button class="md-raised" style="background-color: grey">Add photo</md-button>
                </div>
            </div>
        </div>


    </div>
    <div style="float: right;" layout-margin="">
        <md-button class="md-raised" style="background-color: grey" ng-click="addConsignment()">Add new consignment</md-button>
        <md-button class="md-raised" ng-href="#!/changeOfCustody">Next</md-button>

    </div>

</div>

