<link rel="stylesheet" href="views/customs/css/customsDashboard.css">

<div style="margin: 30px">
    <h1>Analyse Shipment</h1>
</div>

<div class="wrapper" layout="column" layout-padding="" layout-wrap="" layout-margin="" ng-cloak="" layout-align="space-around" style="margin: auto">

    <div layout="row" style="width: 100%; margin: 0px;">
        <div flex="70" layout="row">
            <div flex="50">
                <ul>
                    <li>Shipment ID: OGHSW3IE-IVSW-0RI</li>

                    <li>Origin: Malaysia</li>
                    <li>Border crossings: 6</li>
                    <li>Destination: Luton</li>
                    <li>Next owner</li>
                </ul>
            </div>
            <div flex="50">
                <ul>
                    <li>Shipment Rating: 78.26</li>
                </ul>
            </div>
        </div>
        <div flex="30">
            <img src="images/earth.png" style="width: 500px;">
        </div>
    </div>
    <!-- COMPANIES INVOLVED -->
    <div>
        <h1>Companies involved</h1>
        <table style="width: 100%">
            <tr>
                <th style="text-align: center">Dates of custody</th>
                <th style="text-align: center">Company</th>
                <th style="text-align: center">Company Rating</th>
                <th style="text-align: center">Location</th>
                <th style="text-align: center">Border Crossed</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>TararoPako LTD</th>
                <th>80</th>
                <th></th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>Пурбаҳстаринҳо</th>
                <th>80</th>
                <th></th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>Brza isporuka</th>
                <th>80</th>
                <th></th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>Snelle verzendingen</th>
                <th>99</th>
                <th></th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>ফাস্ট শিপমেন্ট</th>
                <th>81</th>
                <th></th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>快速发货</th>
                <th>72</th>
                <th></th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>快速发货</th>
                <th>70</th>
                <th></th>
            </tr>
        </table>
    </div>
    <!-- CONSIGNMENTS
    <div>
        <h1>Consignments</h1>
        <table style="width: 100%">
            <tr>
                <th style="text-align: center">Company</th>
                <th style="text-align: center">Company Rating</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>TararoPako LTD</th>
                <th>80</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>Пурбаҳстаринҳо</th>
                <th>80</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>Brza isporuka</th>
                <th>80</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>Snelle verzendingen</th>
                <th>99</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>ফাস্ট শিপমেন্ট</th>
                <th>81</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>快速发货</th>
                <th>72</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>快速发货</th>
                <th>70</th>
            </tr>
        </table>
    </div> -->
    <!-- PRODUCTS -->
    <div>
        <h1>Products</h1>
        <table style="width: 100%">
            <tr>
                <th style="text-align: center">Dates of custody</th>
                <th style="text-align: center">Product</th>
                <th style="text-align: center">Country of origin</th>
                <th style="text-align: center">Quantity</th>
                <th style="text-align: center">Tariff code</th>
                <th style="text-align: center">Hazardous</th>
                <th style="text-align: center">Consignment</th>
                <th style="text-align: center">Consignment origin</th>
            </tr>
            <tr>
                <td>wqwd</td>
                <td>qwdqwdq</td>
                <td>qwdqwdq</td>
                <td>qwdwqdq</td>
                <td>qwdqwdq</td>
                <td>qwdqwdq</td>
                <td>qdqwd</td>
                <td>qwdwqd</td>
            </tr>
            <tr>
                <td>wqwd</td>
                <td>qwdqwdq</td>
                <td>qwdqwdq</td>
                <td>qwdwqdq</td>
                <td>qwdqwdq</td>
                <td>qwdqwdq</td>
                <td>qdqwd</td>
                <td>qwdwqd</td>
            </tr>
            <tr>
                <td>wqwd</td>
                <td>qwdqwdq</td>
                <td>qwdqwdq</td>
                <td>qwdwqdq</td>
                <td>qwdqwdq</td>
                <td>qwdqwdq</td>
                <td>qdqwd</td>
                <td>qwdwqd</td>
            </tr>
            <tr>
                <td>wqwd</td>
                <td>qwdqwdq</td>
                <td>qwdqwdq</td>
                <td>qwdwqdq</td>
                <td>qwdqwdq</td>
                <td>qwdqwdq</td>
                <td>qdqwd</td>
                <td>qwdwqd</td>
            </tr>
            <tr>
                <td>wqwd</td>
                <td>qwdqwdq</td>
                <td>qwdqwdq</td>
                <td>qwdwqdq</td>
                <td>qwdqwdq</td>
                <td>qwdqwdq</td>
                <td>qdqwd</td>
                <td>qwdwqd</td>
            </tr>
            <tr>
                <td>wqwd</td>
                <td>qwdqwdq</td>
                <td>qwdqwdq</td>
                <td>qwdwqdq</td>
                <td>qwdqwdq</td>
                <td>qwdqwdq</td>
                <td>qdqwd</td>
                <td>qwdwqd</td>
            </tr>
            <tr>
                <td>wqwd</td>
                <td>qwdqwdq</td>
                <td>qwdqwdq</td>
                <td>qwdwqdq</td>
                <td>qwdqwdq</td>
                <td>qwdqwdq</td>
                <td>qdqwd</td>
                <td>qwdwqd</td>
            </tr>

        </table>

    </div>



</div>