<link rel="stylesheet" href="views/customs/css/customsDashboard.css">

<div layout="column" class="wrapper" layout-padding="" layout-wrap="" layout-margin="" ng-cloak="" layout-align="space-around" style="margin: 0px;padding: 0px 0;">
    <div layout="row" style="margin: 0px;padding: 0px 0; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.5)), url('images/maersk_boat.jpg'); background-size: 100%; background-position-y: center; height:300px;">
        <div class="glossy" style="margin: 2%; width: 200px; height: 200px; outline: 1px solid white;">
            <div style="margin: 3%">
                <img src="images/Maersk_logo.png">
            </div>
        </div>
        <div layout="column" style="width:100%">
            <div style="margin-top:40px;">
                <h1 style="color: white; font-size: 50px; text-align: left">A.P. Moller–Maersk Group</h1>
            </div>
            <div layout="row" style="margin-top: 2%">
                <p style="color: white; font-size: 20px;"><i>ALEI</i></p>
                <h2 style="margin-left: 25px; color: white; font-size: 40px;">DK.CBR:22756214</h2>
            </div>
            <div layout="row" style="">
                <p style="color: white; font-size: 20px; margin: 0"><i>ROLE</i></p>
                <h2 style="margin-left: 25px !important; color: white; font-size: 40px; margin: 0">International Freight Transporter</h2>
            </div>
        </div>
    </div>
</div>
