<link rel="stylesheet" href="views/customs/css/customsDashboard.css">

<div layout="column" class="wrapper" layout-padding="" layout-wrap="" layout-margin="" ng-cloak="" layout-align="space-around" style="margin: auto">
    <div layout="row">
        <div style="outline: 1px solid blue; width: 30%; height: 30%;" >
            company logo
        </div>
        <div layout="column">
            <div>
                company name (legal)
            </div>
            <div>
                ALEI
            </div>
            <div>
                Which type of company are they in respect to the supply chain
            </div>
        </div>
    </div>
</div>
