<link rel="stylesheet" href="views/customs/css/customsDashboard.css">

<div>
    <h1>Analyse Shipment</h1>
</div>

<div class="wrapper" layout="column" layout-padding="" layout-wrap="" layout-margin="" ng-cloak="" layout-align="space-around" style="margin: auto">

    <div layout="row" style="width: 100%; margin: 0px;">
        <div flex="70">
            <ul>
                <li>Origin: Malaysia</li>
                <li>Border crossings: 6</li>
                <li>Consignments</li>
                <li>Companies involved</li>
            </ul>
        </div>
        <div flex="30">
            <img src="images/earth.png" style="width: 500px;">
        </div>
    </div>
    <!-- COMPANIES INVOLVED -->
    <div>
        <h1>Companies involved</h1>
        <table style="width: 100%">
            <tr>
                <th style="text-align: center">Dates of custody</th>
                <th style="text-align: center">Company</th>
                <th style="text-align: center">Company Rating</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>TararoPako LTD</th>
                <th>80</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>Пурбаҳстаринҳо</th>
                <th>80</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>Brza isporuka</th>
                <th>80</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>Snelle verzendingen</th>
                <th>99</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>ফাস্ট শিপমেন্ট</th>
                <th>81</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>快速发货</th>
                <th>72</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>快速发货</th>
                <th>70</th>
            </tr>
        </table>
    </div>
    <!-- CONSIGNMENTS -->
    <div>
        <h1>Consignments</h1>
        <table style="width: 100%">
            <tr>
                <th style="text-align: center">Dates of custody</th>
                <th style="text-align: center">Company</th>
                <th style="text-align: center">Company Rating</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>TararoPako LTD</th>
                <th>80</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>Пурбаҳстаринҳо</th>
                <th>80</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>Brza isporuka</th>
                <th>80</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>Snelle verzendingen</th>
                <th>99</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>ফাস্ট শিপমেন্ট</th>
                <th>81</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>快速发货</th>
                <th>72</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>快速发货</th>
                <th>70</th>
            </tr>
        </table>
    </div>
    <!-- PRODUCTS -->
    <div>
        <h1>Products</h1>
        <table style="width: 100%">
            <tr>
                <th style="text-align: center">Dates of custody</th>
                <th style="text-align: center">Company</th>
                <th style="text-align: center">Company Rating</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>TararoPako LTD</th>
                <th>80</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>Пурбаҳстаринҳо</th>
                <th>80</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>Brza isporuka</th>
                <th>80</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>Snelle verzendingen</th>
                <th>99</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>ফাস্ট শিপমেন্ট</th>
                <th>81</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>快速发货</th>
                <th>72</th>
            </tr>
            <tr>
                <th>20.05.2018-22.06.2018</th>
                <th>快速发货</th>
                <th>70</th>
            </tr>
        </table>

    </div>

</div>