<link rel="stylesheet" href="views/customs/css/customsDashboard.css">

<div layout="column" class="wrapper" layout-padding="" layout-wrap="" layout-margin="" ng-cloak="" layout-align="space-around" style="margin: 0px;padding: 0px 0;">
    <div class="robotoLightCondensed" layout="row" style="margin: 0px;padding: 0px 0; background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.5)), url('images/maersk_boat.jpg'); background-size: 100%; background-position-y: center; height:300px;">
        <div class="glossy" style="margin: 2%; width: 200px; height: 200px; outline: 1px solid white; margin-top: auto !important; margin-bottom: auto !important">
            <div style="margin: 3%">
                <img src="images/Maersk_logo.png">
            </div>
        </div>
        <div layout="column" flex="auto" style="margin:auto;">
            <div>
                <h1 class="robotoLightCondensed" style="color: white; font-size: 40px; text-align: left">A.P. Moller–Maersk Group</h1>
            </div>
            <div layout="row" style="margin-top: 2%">
                <h2 class="robotoLightCondensed" style="color: white; font-size: 20px;">ALEI</h2>
                <h2 class="robotoLightCondensed" style="margin-left: 15px; color: white; font-size: 30px;">DK.CBR:22756214</h2>
            </div>
            <div layout="row">
                <h2 class="robotoLightCondensed" style="color: white; font-size: 20px;">ROLE</h2>
                <h2 class="robotoLightCondensed" style="margin-left: 15px; color: white; font-size: 30px;">International Freight Transporter</h2>
            </div>
        </div>
        <div layout="column" flex="40" style="margin:auto">
            <div layout="row" style="margin:auto; !important;">
                <div flex="auto" style="text-align: right; margin-right: 5px; margin:auto;">
                    <span class="robotoLightCondensed" style="color:white; font-size:20px">Company risk factor</span>
                </div>
                <div flex="auto" style="margin:auto; margin-bottom:0px; margin-left: 5px !important;">
                    <span class="robotoLightCondensed" style="color:white; font-size:40px;">6%</span>
                </div>
            </div>
            <div>
                <img src="images/MaerskRiskFactor.png">
            </div>
        </div>
    </div>

    <div>
        <div style="margin: 30px 50px 50px 50px;">
            <h1 style="font-family: 'roboto condensed', sans-serif;">Maersk's Shipments</h1>
        </div>
        <div>
            <table style="width: 100%; font-family: 'roboto condensed', sans-serif; font-weight: normal">
                <tr>
                    <th style="text-align: center">Shipment ID</th>
                    <th style="text-align: center">Shipment origin (city, country)</th>
                    <th style="text-align: center">Status</th>
                    <th style="text-align: center">Previous company</th>
                    <th style="text-align: center">Date handover</th>
                    <th style="text-align: center">Location handover</th>
                    <th style="text-align: center">Next company</th>
                    <th style="text-align: center">Date confirmed</th>
                    <th style="text-align: center">Location confirmed</th>
                    <th style="text-align: center">Date handover</th>
                    <th style="text-align: center">Location handover</th>
                </tr>
                <tr>
                    <td>Shipment ID</td>
                    <td>Shipment origin (city, country)</td>
                    <td>Status</td>
                    <td>Previous company</td>
                    <td>Date handover</td>
                    <td>Location handover</td>
                    <td>Next company</td>
                    <td>Date confirmed</td>
                    <td>Location confirmed</td>
                    <td>Date handover</td>
                    <td>Location handover</td>
                </tr>
                <tr>
                    <td>Shipment ID</td>
                    <td>Shipment origin (city, country)</td>
                    <td>Status</td>
                    <td>Previous company</td>
                    <td>Date handover</td>
                    <td>Location handover</td>
                    <td>Next company</td>
                    <td>Date confirmed</td>
                    <td>Location confirmed</td>
                    <td>Date handover</td>
                    <td>Location handover</td>
                </tr>
                <tr>
                    <td>Shipment ID</td>
                    <td>Shipment origin (city, country)</td>
                    <td>Status</td>
                    <td>Previous company</td>
                    <td>Date handover</td>
                    <td>Location handover</td>
                    <td>Next company</td>
                    <td>Date confirmed</td>
                    <td>Location confirmed</td>
                    <td>Date handover</td>
                    <td>Location handover</td>
                </tr>
                <tr>
                    <td>Shipment ID</td>
                    <td>Shipment origin (city, country)</td>
                    <td>Status</td>
                    <td>Previous company</td>
                    <td>Date handover</td>
                    <td>Location handover</td>
                    <td>Next company</td>
                    <td>Date confirmed</td>
                    <td>Location confirmed</td>
                    <td>Date handover</td>
                    <td>Location handover</td>
                </tr>
                <tr>
                    <td>Shipment ID</td>
                    <td>Shipment origin (city, country)</td>
                    <td>Status</td>
                    <td>Previous company</td>
                    <td>Date handover</td>
                    <td>Location handover</td>
                    <td>Next company</td>
                    <td>Date confirmed</td>
                    <td>Location confirmed</td>
                    <td>Date handover</td>
                    <td>Location handover</td>
                </tr>
            </table>
        </div>
    </div>
</div>
