<link rel="stylesheet" href="views/customs/css/customsDashboard.css">

<div layout="column" class="wrapper" layout-padding="" layout-wrap="" layout-margin="" ng-cloak="" layout-align="space-around" style="margin: 0px; margin-bottom: 15px; padding: 0px 0;"  ng-app="myApp.customs" ng-controller="dashboardCtrl">
    <div class="robotoLight" layout="row" style="margin: 0px;padding: 0px 0; background: linear-gradient(to bottom, rgba(62,62,62,0.8),rgba(137,137,137,0.5)), url('images/dashboard.jpeg'); background-size: 100%; background-position-y: center; height:300px;">
        <div style="margin: 1.5%; width: 200px; margin-top: 2% !important; margin-bottom: auto !important">
                <img src="images/HMRC_logo.png">
        </div>
        <div layout="column" flex="auto" style="margin-top: 4%; margin-right: auto; margin-bottom: auto">
                <h1 class="robotoLight" style="color: white; font-size: 40px; text-align: left">Dashboard</h1>
        </div>
    </div>
    <div layout="column" class="wrapper" layout-padding="" layout-wrap="" layout-margin="" ng-cloak="" layout-align="space-around" style="margin: 0px;padding: 0px 0; background-color: #212831;">
        <div style="margin-left: 2%" layout="row">
            <div>
                <md-button class="md-primary md-raised" ng-click="viewProductsOrCountries = !viewProductsOrCountries" style="background-color: #555555 !important; color: lightgray;">
                    {{viewProductsOrCountries ? 'Products' : 'Countries'}}
                </md-button>
            </div>
            <!--
            <div>
                <md-button class="md-primary md-raised" ng-click="viewProductsOrCountries = true" style="background-color: #555555 !important; color: lightgray;">
                    Countries
                </md-button>
            </div>
            -->
        </div>
        <!-- screenshots from https://atlas.media.mit.edu/en/ -->
        <div ng-show="!viewProductsOrCountries" style="margin: 0px; padding: 0px;">
            <img style="margin: 0; width: 100%" src="images/import.png">
            <img style="margin-top: 50px !important; margin-bottom: 50px; margin: 0; width: 100%" src="images/UKimportbearings.png">
        </div>
        <div ng-show="viewProductsOrCountries" style="margin: 0px; padding: 0px">
            <img style="margin: 0; width: 100%" src="images/UKimports.png">
        </div>
    </div>
</div>
