<link rel="stylesheet" href="views/employeesInvolved/employeesInvolved.css">

<div>

    <div>
        <h1>Employees involved</h1>
    </div>

    <div layout="column" class="post" md-whiteframe="{{ctrl.elevation}}">
        <div class="post" layout="column">
            <table style="width:100%; text-align: center">
                <tr>
                    <th>Employee</th>
                    <th>Company</th>
                </tr>
                <tr>
                    <td>Diego Serreiro</td>
                    <td>SKF</td>
                </tr>
            </table>
        </div>
    </div>

</div>