.wrapper {
    margin: auto;
    width: 100%;
}

th {
    text-align: left;
    outline: 1px solid black;
}

table {
    outline: 1px solid black;
    table-layout: fixed ;
}

li {
    font-size: larger;
    margin: 1em;
}

td {
    text-align: center;
    outline: 1px solid black;
}

.glossy {
    background: linear-gradient(to bottom,
    rgba(255,255,255,0.4) 0%,
    rgba(241,241,241,0.4) 50%,
    rgba(225,225,225,0.4) 51%,
    rgba(246,246,246,0.4) 100%);
}