div {
    outline: 1px solid red;
}

.wrapper {
    margin: auto;
    width: 100%;
}

th {
    text-align: left;
    outline: 1px solid black;
}

table {
    outline: 1px solid black;
    table-layout: fixed ;
}

li {
    font-size: larger;
    margin: 1em;
}

td {
    text-align: center;
    outline: 1px solid black;
}