<link rel="stylesheet" href="views/customs/css/companyDashboard.css">

<div layout="column" class="wrapper" layout-padding="" layout-wrap="" layout-margin="" ng-cloak="" layout-align="space-around" style="margin: 0px;padding: 0px 0;">
    <div class="robotoLightCondensed" layout="row" style="margin: 0px;padding: 0px 0; background: linear-gradient(to bottom, rgba(83,83,83,0.8),rgba(183,183,183,0.5)), url('images/3SCIDashboard.jpg'); background-size: 100%; background-position-y: center; height:300px;">
        <div class="glossy" style="margin-top: 3%; margin-left: 5%; width: 138px; outline: 1px solid white; margin-bottom: 111px">
            <div style="margin: 3%; height: 130px">
                <img src="images/3SCILogo1.png">
            </div>
        </div>
        <div layout="column" flex="auto" style="margin-top: 4%; margin-right: auto; margin-bottom: auto">
        </div>
    </div>
    <div layout="row" class="wrapper" layout-padding="" layout-wrap="" layout-margin="" ng-cloak="" layout-align="space-around" style="margin: 0px;padding: 0px 0;">
        <!-- screenshots from https://atlas.media.mit.edu/en/ -->
        <div style="width: 100%">
            <h1>Products</h1>
        </div>
        <div layout="row" style="margin: auto; text-align: center">
            <md-button class="md-primary md-raised" >
                Generate tariff codes
            </md-button>

            <md-button class="md-primary md-raised" >
                Add to consignment
            </md-button>

            <md-button class="md-primary md-raised" >
                Start shipment
            </md-button>
        </div>
        <div style="margin: auto; padding: 0px; width: 100%">
            <div layout="row" style="width: 55%; margin: auto">
                <img src="images/3SCI_item.png">
                <img src="images/3SCI_item.png">
                <img src="images/3SCI_item.png">
                <img src="images/3SCI_item.png">
            </div>
        </div>
    </div>
    <div>
        <img src="images/3SCIConsignment.png">
        <img src="images/3SCIConsignment.png">
    </div>
</div>
