
<div ng-app="myApp.company" ng-controller="changeOfCustodyCtrl">
    <div layout="row" style="margin: 0px; margin-bottom: 5%; padding: 0px 0; background: linear-gradient(to bottom, rgba(62,62,62,0.8),rgba(137,137,137,0.5)), url('images/newShipment.png'); background-size: 100%; background-position-y: center; height:200px;">
        <div class="pageTitle" layout="column" flex="auto">
            <h1 class="robotoLight" style="color: white; font-size: 40px; text-align: left">Declare the change of Custody</h1>
        </div>
    </div>
    <div layout="column" style="margin: auto; width: 40%">
        <div>
            <md-input-container md-no-float="" class="md-block" style="margin: auto">
                <md-icon md-svg-src="images/baseline-business-24px.svg"></md-icon>
                <input ng-model="alei" placeholder="receiver's ALEI number" type="text">
            </md-input-container>
        </div>
        <div style="text-align: right">
            <md-button class="md-raised" ng-click="addAleiToTemporaryCreatedShipment(); addShipment(); finishShipmentToast()" ng-href="#!/myShipments">Finish</md-button>
        </div>
    </div>
</div>