<!-- Scans in the company's block in shipment history -->

<link rel="stylesheet" href="views/company/css/scans.css">
<div layout="column" class="wrapper" layout-padding="" layout-wrap="" layout-margin="" ng-cloak="" layout-align="space-around" style="margin: 0px;padding: 0px 0;">
    <dvi>
        <h1>Scans shipment ID: Example shipment ID</h1>
    </dvi>

    <div layout="column" class="post" md-whiteframe="{{ctrl.elevation}}">
        <div class="post" layout="column">
            <table style="width:100%; text-align: center">
                <tr>
                    <th>Date</th>
                    <th>Company</th>
                    <th>Location</th>
                    <th>Employee</th>
                    <th>Consignment number</th>
                    <th>Scan ID</th>
                    <th>Map</th>
                </tr>
                <tr>
                    <td>16:34:50 25.12.2016</td>
                    <td>SKF</td>
                    <td>Alcobendas</td>
                    <td>Diego Serreiro</td>
                    <td>4CE0460D0G</td>
                    <td>12345DSF3FWR3QV</td>
                    <td>
                        <div class="centreButton">
                            <md-button class="md-raised" ng-href="#!/map">Map</md-button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>16:34:50 25.12.2016</td>
                    <td>SKF</td>
                    <td>Alcobendas</td>
                    <td>Diego Serreiro</td>
                    <td>4CE0460D0G</td>
                    <td>12345DSF3FWR3QV</td>
                    <td>
                        <div class="centreButton">
                            <md-button class="md-raised" ng-href="#!/map">Map</md-button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>