<link rel="stylesheet" href="views/company/css/company.css">
<div>
    <div layout="row" style="margin: 0px; margin-bottom: 5%; padding: 0px 0; background: linear-gradient(to bottom, rgba(62,62,62,0.8),rgba(137,137,137,0.5)), url('images/newConsignment.png'); background-size: 100%; background-position-y: center; height:200px;">
        <div class="pageTitle" layout="column" flex="auto">
            <h1 style="color: white; font-size: 40px; text-align: left">New consignment</h1>
        </div>
    </div>
    <div layout="row" layout-padding="" layout-wrap="" layout-margin="" ng-cloak="" layout-align="space-around" style="margin: auto;" ng-app="myApp.company" ng-controller="newConsignmentCtrl">
        <!-- Consignment divs !-->
        <div class="post" md-whiteframe="{{ctrl.elevation}}" style="padding-left: 20px;">

            <div flex="100"  style="text-align: center; vertical-align: middle;">
                <h2><b>Consignment</b></h2>
            </div>

            <div flex="100" layout="row" ng-show="products.length > 0">
                <div flex="5" class="cell">
                    <h3>#</h3>
                </div>
                <div flex="35">
                    <h3>ISO 8000-115 identifier</h3>
                </div>
                <div flex="15" style="text-align: center;">
                    <h3>Quantity</h3>
                </div>
                <div flex="25" style="text-align: center;">
                    <h3>Batch no.</h3>
                </div>
                <div flex="15">
                    <h3>Serial numbers</h3>
                </div>
                <div flex="10" style="text-align: center;">
                    <h3>Delete</h3>
                </div>
            </div>

            <div flex="100" layout="column" ng-repeat="product in products">
                <div layout="column">
                    <div flex="100"layout="row">
                        <div flex="5" class="cell">
                            {{$index + 1}}
                        </div>
                        <div flex="35" class="cell" >
                            {{product.iso8000Identifier}}
                        </div>
                        <div flex="15"  class="cell" style="text-align: center;" >
                            {{product.NoI}}
                        </div>
                        <div flex="25"  class="cell" style="text-align: center;">
                            {{product.batchNumber}}
                        </div>
                        <div flex="15" class="centreButton">
                            <md-button class="md-primary md-raised" ng-click="showHideSerialNumbers($index)">
                            {{product.showSerialNumbers ? 'Close' : 'Add'}} S/N
                            </md-button>
                        </div>
                        <div flex="10" class="cell" style="text-align: center;">
                            <i class="fas fa-trash" ng-click="deleteProductPopUp($event, $index)"></i> <!-- ng-click="deleteProduct($index)" -->
                            <!-- <md-icon md-svg-src="/home/Perforce/Marcin_Marcin_7490/websites/koiosmasterdata_com/v1/images/icons/ic_delete_black_24px.svg"></md-icon> -->
                        </div>
                    </div>
                    <div ng-show = product.showSerialNumbers layout="column">
                        <md-input-container ng-repeat= "serialNumber in product.serialNumbers track by $index" style="margin-left: 10%; width:70%; padding: 0px 0; margin-bottom: 0px;">
                            <label>Serial Number</label>
                            <input ng-model="product.serialNumbers[$index]">
                        </md-input-container>
                    </div>
                </div>
            </div>

            <div style="margin-top: 50px;">
                New product details
                <form name="productForm" ng-submit="addProduct()">
                    <div layout="column">
                        <md-input-container style="width:98%; padding: 0px 0; margin-bottom: 0px;">
                            <label>ISO 8000-115 identifier</label>
                            <input name="newProductName" ng-model="newProductName" required>
                        </md-input-container>
                        <md-input-container style="width:98%; padding: 0px 0; margin: 0px;">
                            <label>Number of items</label>
                            <input type="number" name="nOI" ng-model="nOI" required>
                        </md-input-container>
                        <md-input-container style="width:98%; padding: 0px 0; margin: 0px;">
                            <label>Batch number</label>
                            <input type="number" name="batchNumber" ng-model="batchNumber">
                        </md-input-container>
                    </div>
                </form>
            </div>

            <div flex="80" layout="row" style="display: flex;padding-top: 20px; float: left;">
                <div class="centreButton" flex="auto">
                    <md-button class="md-raised" ng-disabled="productForm.$invalid" ng-click="addProduct()">Add new product</md-button>
                </div>
                <div class="centreButton" flex="auto">
                    <md-button class="md-raised" style="background-color: grey">Add photo</md-button>
                </div>
            </div>
            <div flex="20" layout="row" style="display: flex;padding-top: 20px;float:right;">
                <md-button class="md-raised" ng-disabled="products.length == 0" ng-click="addConsignment(); finishConsignmentToast()">Finish</md-button>
            </div>
        </div>
    </div>
</div>